page-link {
    a,h4{
       margin-left: 25%;
       width: max-content;
       margin-right: 25%;
    }

    h4{
        color: #414042;
    }
    h6{
        color:#fff;
        font-size: 1em;
    }
}
